<header>
    <div class="header-container">
    <div class="header-logo">
      <span class="logo"><a href="#/">
        <img src="http://104.131.145.97/home/src/images/failbox-04.png">
          </a>
      </span> 
      <span class="about-text"><a href="#about">¿Quienes somos?</a></span>
    </div>
    <div class="header-search-bar">
      <label>Productos</label><input type="text" ng-model="key" ng-keypress="checkEnter($event)"><span class="icon" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
    </div>
</header>